div1 {
    float: right;
    height: 100px;
    width: 100px;
    background-color: pink;
}
div2 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 15px;
}
