body{
  margin-left: 50px;
  margin-right: 25px;
  background-image: url("paws.gif");
}
#Header{
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
  word-spacing: 5px;
  font-family: "Times New Roman", 'Times New Roman', Times, serif, Serif;
}
div.field{
  margin-right: 200px;
  font-size:20px;
  float: left;
}
input[type="text"]{
  width: 700px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  border:solid 1px rgb(80, 70, 223);
}
input[type="password"]{
  width: 700px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  border:solid 1px rgb(80, 70, 223);
}
select[name="state"]{
  width: 700px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
  border:solid 1px rgb(80, 70, 223);
}
input[type="checkbox"]{
  width: 50px;
}
input[type="submit"]{
  width:200px;
  color:#FFF;
  font-size: 20px;
  display:block;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:5px;
  border:solid 1px rgb(234, 70, 147);
  background:rgb(234, 70, 147); 
  text-align:center;
  padding:30px 40px;
}
